/config/Common/routes.json
db

/IN/МСП/MITS/*
/IN/МСП/VIB/*

/IN/РВП/КАРТОТЕКА РАЗОВОЙ/*
/IN/РВП/НВП/*
/IN/РВП/ПФР_РПВ_100_643_2024_2_45_20240611_6c72f678-3c1c-45dd-b1e2-e656aecc9fca.xml

/IN/ФСС/VIB/*
/IN/ФСС/XLSX/*

/OUT/*

.idea
__pycache__
Документация+exe
soft



